.book-now-form .ant-form-item-label {
    padding: 0%;
}
.hoverable-antd-card:hover {
    border: 2px solid #ecfcc7 !important;
}
.add-user-pw .ant-input {
    background-color: #383838;
}
.add-user-role-selecter .ant-select-selector {
    border: none !important;
    background-color: #383838 !important;
}
.add-user-role-selecter-popup .ant-select-item-option {
    color: #FFFFFF !important;
}
.add-user-role-selecter-popup .ant-select-item-option-active {
    background-color: #ecfcc7 !important;
    color: #000000 !important;
}
.add-user-role-selecter-popup .ant-select-item-option-selected {
    background-color: #ecfcc7 !important;
    color: #000000 !important;
}